[Unit]
Description=Linux System Monitoring Tool
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/linux-system-monitor/scripts/monitor.sh
User=kunjan
